%fieldset
  = simple_form_for([@user, @todo], remote: true) do |f|
    = f.input :item, as: :string, placeholder: 'At what are you going to fail?', label: false
    = f.input :duedate, as: :date, label: false, order: [:month, :day, :year]
    = f.hidden_field :done, value: false
    = f.hidden_field :user_id, value: @user.id
    = f.button :submit