.todo{"data-todo-id" => "#{todo.id}"}
  %h4= todo.item
  %h5= todo.duedate.strftime("%B %e, %Y")
  = link_to "Done?", user_todo_path(current_user.id, todo.id), :method => :put, :remote => :true
  ||
  = link_to "I'm not doing that.", user_todo_path(current_user.id, todo.id), :method => :delete, :confirm => "Quitting already?", :remote => :true