.row
  .small-12.medium-8.small-centered.medium-centered.columns
    %header
      %h1 todo#index

.row
  .small-12.medium-6.columns
    = simple_form_for([@user, @todo], remote: true) do |f|
      = f.input :item, as: :string
      = f.input :duedate, as: :date
      = f.hidden_field :done, value: false
      = f.hidden_field :user_id, value: @user.id
      = f.button :submit

  .small-12.medium-6.columns
    %h3 
      To Do  
      - @todos.each do |todo|
        = render "newtodo", todo: todo


.row
  .small-12.medium-6.columns.done
    %h3 Done Did It
    - @done.each do |todo|
      = render "done", todo: todo

  .small-12.medium-6.columns
    %h3 
      Past Due
      - @overdue.each do |overdue|
        = render "pastdo", overdue: overdue