.row
  .small-12.medium-8.small-centered.medium-centered.columns
    %h1 todo#index

.row
  .small-12.medium-6.columns
    %h3 To Do
    .doing  
      - @todos.each do |todo|
        = render "newtodo", todo: todo

  .small-12.medium-6.columns
    %h3 Done Did It
    - @done.each do |todo| 
      %h4= todo.item

.row
  .small-12.medium-6.columns
    = simple_form_for(@todo, remote: true) do |f|
      = f.input :item, as: :string
      = f.input :duedate, as: :date
      = f.hidden_field :done, value: false
      = f.button :submit

  .small-12.medium-6.columns
    %h3 
      Past Due
    - @overdue.each do |overdue|
      %h4= overdue.item
      %h5= overdue.duedate.strftime("%B %e, %Y")