.row
  .small-12.medium-8.small-centered.medium-centered.columns
    %h1 Todo#index

.row
  .small-12.medium-6.columns
    %h3 To Do
    - @todos.each do |todo|
      %h4= todo.item
      %h5= todo.duedate.strftime("%B %e, %Y")
      = link_to 'Done?', todo_path(todo.id), :method => :put
      = link_to 'Trash?', todo_path(todo.id), :confirm => "are you sure?", :method => :delete

  .small-12.medium-6.columns
    %h3 Done Did It
    - @done.each do |todo| 
      %h4= todo.item
      // %h5= todo.duedate.strftime("%B %e, %Y")
      // %h5= todo.updated_at.strftime("%B %e, %Y")

.row
  .small-12.medium-6.columns
    = simple_form_for @todo do |f|
      = f.input :item, as: :string
      = f.input :duedate, as: :date
      = f.button :submit

  .small-12.medium-6.columns
    %h3 
      Past Due
    - @overdue.each do |overdue|
      %h4= overdue.item
      %h5= overdue.duedate