!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title ToDoApp
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav.top-bar
      %section.top-bar-section
        / To add: reminder emails
        / %ul.left
        /   - if user_signed_in?
        /     %li 
        /       Reminders going to  
        /       %strong= current_user.email
      // Right Nav Section
      %section.top-bar-section
        - if user_signed_in?
          %ul.right
            %li= link_to 'Edit profile', edit_user_registration_path
            %li= link_to "Logout", destroy_user_session_path, method: :delete
        - else
          %ul.right
            %li= link_to "Sign up", new_user_registration_path
            %li= link_to "Login", new_user_session_path

    .row
      .flash.small-8.medium-4.small-centered.medium-centered.columns  
        %p.notice
          = notice
        %p.alert
          = alert
    = yield
